#about {
  background-color: $blue;
}

.profile-picture {
  text-align: center;
  margin: 0px auto 30px;
}
#about .heading h1{
color: #fff;
text-transform: uppercase;
margin-bottom: 20px;
}
#about .heading h3{
color: #fff;
}

.button1{
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  border: 1px solid white ;
  padding: 18px 50px;
  display: inline-block;
  border-radius: 3px;
  text-decoration: none;
  margin-top: 20px;
  transition: all 0.3s ease-in 0s;
}

.button1:hover{
  background: white;
  color: $blue;
}
